:root {
	--shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
	--bg-light: #f5f7fa;
}

.sel-shadow {
	box-shadow: var(--shadow-light);
}

.bg-light {
	background-color: var(--bg-light);
}

/* input css */
.has-addons-left,
.has-addons-right {
	position: relative;
}

.has-addons-left .input {
	padding-left: 2em;
}

.has-addons-right .input {
	padding-right: 2em;
}

.input-icon {
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 2em;
}

.input-icon button {
	height: 100%;
	outline: 0;
	border: 0;
	background: transparent;
	font-size: 1em;
	z-index: 1;
}

/* table css */
.s-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	border: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
	font-size: 0.9em;
	color: hsl(var(--bc) / 0.85);
}

.s-table thead {
	background-color: hsl(var(--b3) / 0.25);
}

.s-table td,
.s-table th {
	border: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
	padding: 5px;
}

.s-card .s-table th {
	font-weight: 600;
}

/*readonly css */
.s-readonly .input,
.s-readonly .textarea,
.s-readonly .select,
.s-readonly .radio,
.s-readonly .checkbox {
	background-color: hsl(var(--b2) / 0.25);
}

/* fade transition */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
}
