/* table css */
.s-table {
	display: table;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
	border: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
	font-size: 0.9em;
	color: hsl(var(--bc) / 0.85);
}

.s-table thead {
	background-color: hsl(var(--b3) / 0.25);
}

.s-table td,
.s-table th {
	border: 1px solid hsl(var(--b2) / var(--tw-bg-opacity));
	padding: 5px;
}

.s-card .s-table th {
	font-weight: 600;
}

/*readonly css */
.s-readonly .input,
.s-readonly .textarea,
.s-readonly .select,
.s-readonly .radio,
.s-readonly .checkbox {
	background-color: hsl(var(--b2) / 0.25);
}
