.VPNav .menu {
	flex-direction: row;
	gap: 1rem;
}

@media screen and (max-width: 719px) {
	.VPNav .menu {
		flex-direction: column;
	}
}

.link {
	text-decoration-line: initial;
}

.VPImage.image-src {
	height: 150px;
	color: inherit;
}
