.VPNav .menu {
	flex-direction: row;
	gap: 1rem;
}

@media screen and (max-width: 719px) {
	.VPNav .menu {
		flex-direction: column;
	}
}

.link {
	text-decoration-line: initial;
}

.VPImage.image-src {
	height: 150px;
	color: inherit;
}

.radio {
	border: 1px solid #ccc;
}

.modal-box {
	--tw-text-opacity: 1;
	color: hsl(var(--bc) / var(--tw-text-opacity));
}

body {
	color: var(--vp-c-text-1);
	background-color: var(--vp-c-bg);
}
